<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Chỉnh sửa tuyến xe</title>
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
<section>
    <div class="container-fluid p-5 mt-5">
        <div class="row">
            <a href="/admin/" class="text-decoration-none"><i
                    class="fa-solid fa-arrow-left"></i> Quay Lại</a>
            <div class="col-md-3">
                <div class="card card-sh">
                    <div class="card-header text-center">
                        <p class="fs-4">Chỉnh sửa tuyến xe</p>
                        <th:block th:if="${session.succMsg}">
                            <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                            <th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>

                        <th:block th:if="${session.errorMsg}">
                            <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                            <th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form action="/admin/updateTrip" method="post">
                            <input type="hidden" name="id" th:value="${trip.id}">
                            <div class="mb-3">
                                <label>Điểm đi</label>
                                <input type="text" name="startPoint" class="form-control" th:value="${trip.startPoint}">
                            </div>
                            <div class="mb-3">
                                <label>Điểm đến</label>
                                <input type="text" name="endPoint" class="form-control" th:value="${trip.endPoint}">
                            </div>
                            <div class="mb-3">
                                <label>Ngày đi</label>
                                <input type="text" name="departureDate" class="form-control datepicker" th:value="${trip.departureDate}" required>
                            </div>
                            <button class="btn btn-primary col-md-12 mt-2">Cập nhật</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 	
<script>
    $(function() {
        $(".datepicker").datepicker({
            dateFormat: "yy-mm-dd" // Định dạng ngày tháng
        });
    });
</script>
</body>
</html>