<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Mua bán vật liệu xây dựng online</title>
</head>
<body>
	<section>
		<div class="container-fluid mt-5 p-1">
			<div class="row">
				<p class="text-center fs-3 mt-2">Tất cả Vé xe</p>
				<hr>
				<a href="/admin/" class="text-decoration-none"><i
					class="fa-solid fa-arrow-left"></i> Quay lại</a>
				<th:block th:if="${session.succMsg}">
					<p class="text-success fw-bold text-center">[[${session.succMsg}]]</p>
					<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>

				<th:block th:if="${session.errorMsg}">
					<p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
					<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>
				<div class="col-md-4 p-4">

					<form action="/admin/search-order" method="get">
						<div class="row">
							<div class="col">
								<input type="text" class="form-control " name="orderId"
									placeholder="Enter order id">
							</div>
							<div class="col">
								<button class="btn btn-primary col">Tìm kiếm</button>
							</div>
						</div>
					</form>

				</div>
				<div class="col-md-12 ps-4 pe-4">


					<table class="table table-bordered card-sh">
						<thead class="table-light">
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Thông tin Người đặt</th>
								<th scope="col">Ngày đặt</th>
								<th scope="col">Điểm đi</th>
								<th scope="col">Điểm đến</th>
								<th scope="col">Giá</th>
								<th scope="col">Số lượng</th>
								<th scope="col">Tổng giá</th>
								<th scope="col">Phương thức thanh toán</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:if="${srch}">
								<th:block th:if="${orderDtls != null}">
									<tr>
										<th scope="row">[[${orderDtls.orderId}]]</th>
										<td>Tên : [[${orderDtls.orderAddress.firstName + ' ' +
											orderDtls.orderAddress.lastName}]]<br> Email :
											[[${orderDtls.orderAddress.email}]]<br> Số điện thoại:
											[[${orderDtls.orderAddress.mobileNo}]]<br> Địa chỉ :
											[[${orderDtls.orderAddress.address}]]<br> Thành phố :
											[[${orderDtls.orderAddress.city}]]<br> Quốc gia :
											[[${orderDtls.orderAddress.state}]]
										</td>
										<td>[[${orderDtls.orderDate}]]</td>
										<td>[[${orderDtls.trip != null ?
											orderDtls.trip.startPoint : 'N/A'}]]</td>
										<td>[[${orderDtls.trip != null ? orderDtls.trip.endPoint
											: 'N/A'}]]</td>
										<td>[[${orderDtls.trip != null ? orderDtls.trip.price :
											'N/A'}]]</td>
										<td>[[${orderDtls.quantity}]]</td>
										<td>[[${orderDtls.quantity * orderDtls.price}]]</td>
										<td>[[${orderDtls.paymentType}]]</td>
									</tr>
								</th:block>
								<th:block th:unless="${orderDtls != null}">
									<p class="fs-3 text-center text-danger">[[${errorMsg}]]</p>
								</th:block>
							</th:block>

							<th:block th:unless="${srch}">
								<tr th:each="o : ${orders}">
									<th scope="row">[[${o.orderId}]]</th>
									<td>Tên : [[${o.orderAddress.firstName + ' ' +
										o.orderAddress.lastName}]]<br> Email :
										[[${o.orderAddress.email}]]<br> Số điện thoại:
										[[${o.orderAddress.mobileNo}]]<br> Địa chỉ :
										[[${o.orderAddress.address}]]<br> Thành phố :
										[[${o.orderAddress.city}]]<br> Quốc gia :
										[[${o.orderAddress.state}]]
									</td>
									<td>[[${o.orderDate}]]</td>
									<td>[[${o.trip != null ? o.trip.startPoint : 'N/A'}]]</td>
									<td>[[${o.trip != null ? o.trip.endPoint : 'N/A'}]]</td>
									<td>[[${o.trip != null ? o.trip.price : 'N/A'}]]</td>
									<td>[[${o.quantity}]]</td>
									<td>[[${o.price}]]</td>
									<td>[[${o.paymentType}]]</td>
								</tr>
							</th:block>
						</tbody>
					</table>
					<th:block th:if="${!srch}">
						<div class="row">
							<div class="col-md-4">Tổng số vé : [[${totalElements}]]</div>
							<div class="col-md-6">

								<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li class="page-item"
											th:classappend="${isFirst} ? 'disabled':''"><a
											class="page-link"
											th:href="@{'/admin/orders?pageNo='+${pageNo-1}}"
											aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
										</a></li>

										<li th:each="i:${#numbers.sequence(1,totalPages)}"
											class="page-item" th:classappend="${pageNo+1==i}?'active':''"
											]]><a class="page-link"
											th:href="@{'/admin/orders?pageNo='+${i-1}}">[[${i}]]</a></li>

										<li class="page-item"
											th:classappend="${isLast} ? 'disabled':''"><a
											class="page-link"
											th:href="@{'/admin/orders?pageNo='+${pageNo+1}}"
											aria-label="Next"> <span aria-hidden="true">&raquo;</span>
										</a></li>
									</ul>
								</nav>
							</div>

						</div>
					</th:block>
				</div>
			</div>

		</div>
	</section>
</body>
</html>