<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Thông tin đơn hàng</title>
</head>
<body>
	<section>
		<div class="container mt-5 p-5">
			<form action="/user/book-ticket" method="post" id="orders" novalidate>
				<div class="row">
					<div class="col-md-6">
						<div class="mb-3 row">
							<p class="text-center fs-4">Thông tin đặt vé</p>
							<hr>
							<div class="col p-1" th:object="${order}">
								<p>Mã vé: <span th:text="*{orderId}"></span></p>
								<p>Ngày đặt: <span th:text="*{orderDate}"></span></p>
								<p>Giá: <span th:text="*{price}"></span></p>
								<p>Số lượng: <span th:text="*{quantity}"></span></p>

								<!-- Thông tin chuyến đi -->
								<h2>Thông tin chuyến đi</h2>
								<p>Mã chuyến đi: <span th:text="${trip.id}"></span></p>
								<p>Điểm đi: <span th:text="${trip.startPoint}"></span></p>
								<p>Điểm đến: <span th:text="${trip.endPoint}"></span></p>
								<p>Ngày đi: <span th:text="${trip.departureDate}"></span></p>

								<!-- Thông tin người dùng -->
								<h2>Thông tin người dùng</h2>
								<p>Tên người dùng: <span th:text="${user.name}"></span></p>
								<p>Email: <span th:text="${user.email}"></span></p>
								<p>Số điện thoại: <span th:text="${user.mobileNumber}"></span></p>
								<p>Địa chỉ: <span th:text="*{orderAddress.address}"></span></p>
								<p>Thành phố: <span th:text="*{orderAddress.city}"></span></p>
								<p>Mã bưu điện: <span th:text="*{orderAddress.pincode}"></span></p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<p class="text-center fs-4">Hóa đơn</p>
						<hr>
						<div class="card">
							<div class="card-body">
								<table class="table table-borderless">
									<tbody>
										<tr>
											<td>Tổng</td>
											<td>:</td>
											<td>[[${order.price}]]&#8363;</td>
										</tr>
										<tr class="border-top">
											<td>Thành tiền</td>
											<td>:</td>
											<td>[[${order.price * order.quantity}]]&#8363;</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="card shadow p-3 mb-5 mt-2 bg-body-tertiary rounded">
							<div class="card-body">
								<div class="mb-3">
									<label class="form-label">Chọn phương thức thanh toán</label>
									<select required name="paymentType" class="form-control">
										<option value="">--select--</option>
										<option value="COD">Tiền mặt</option>
										<option value="ONLINE">Online Banking</option>
									</select>
								</div>

								<button class="btn bg-primary text-white col-md-12">Đặt Vé</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>