<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Đặt vé xe trực tuyến từ Quy Nhơn</title>
</head>
<body>
	<section>
		<div id="carouselExample" class="carousel slide">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img th:src="@{/img/ecom1.png}" class="d-block mx-auto w-75	" alt="..."
						width="345px" height="345px">
				</div>
			</div>
		</div>
		<div class="container mt-5">
			<h2 class="text-center mb-4">Tìm kiếm chuyến đi</h2>
			<form th:action="@{/user/search}" method="get">
				<div class="mb-3">
					<label class="form-label">Điểm đi</label> <select
						class="form-select" name="startPoint">
						<option value="">-- Chọn điểm đi --</option>
						<option th:each="trip : ${trips}" th:value="${trip.startPoint}"
							th:text="${trip.startPoint}"></option>
					</select>
				</div>

				<div class="mb-3">
					<label class="form-label">Điểm đến:</label> <select
						class="form-select" name="endPoint">
						<option value="">-- Chọn điểm đến --</option>
						<option th:each="trip : ${trips}" th:value="${trip.endPoint}"
							th:text="${trip.endPoint}"></option>
					</select>
				</div>

				<button type="submit" class="btn btn-primary">Tìm kiếm</button>
			</form>
		</div>



		<div class="container-fluid bg-light p-3">
			<div class="card card-sh">
				<div class="card-header text-center fs-4">Danh sách Tuyến xe</div>
				<div class="card-body">
					<table class="table"
						th:if="${searchResults != null and !searchResults.empty}">
						<thead>
							<tr>
								<th>Điểm đi</th>
								<th>Điểm đến</th>
								<th>Ngày đi</th>
								<th>Đặt vé</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="trip : ${searchResults}">
								<td th:text="${trip.startPoint}"></td>
								<td th:text="${trip.endPoint}"></td>
								<td th:text="${trip.departureDate}"></td>
								<td><a
									th:href="@{/user/orders(pid=${trip.id}, uid=${user.id})}"
									class="btn btn-primary">Đặt vé</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</body>
</html>